* {
	margin:0px;
	padding:0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
		text-align: center;
		overflow: hidden;
}

#EmulatorView {
	width: 100vw;
	height: 100vh;
}
#screen_container {
		width: 100%;
		height: calc(100% - 50px);
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		background-color: rgb(55, 55, 55);
}

.emulator_screen {
	transform-origin: top left;
	position: absolute;
	top:0px;
	left: 0px;
}

#EmulatorInput {
	width: 100%;
	height: 50px;
	text-align: center;
	border: 1px solid black;
	font-size: 100%;
}

#start_bt {
	font-size: 14px;
}

#Init{
	background-color: rgb(55, 55, 55);
	border-radius: 25px;
	padding: 10px;
	color: white;
	margin: 25px;
}

.oneline {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	padding: 10px;
}

.oneline div {
	display: flex;
}

.oneline div p, .oneline p {
	font-size: 2wv;
}

.oneline div input {
	text-align: center;
	font-size: 2wv;
	margin-left: 20px;
	margin-right: 10px;
	width: 50px;
}

#start_bt {
	margin: 25px;
	padding: 15px;
	border: 1px solid black;
	min-width: 25%;
	font-size: 2.5vw;
	border-radius: 25px;
}
